
/* NAvigation styling */

.primary-nav {

	padding-top: 0.75rem;

	@mixin atMedium{
		padding-top: 0;
	}

	&--pull-right {
		@mixin atMedium {
		float: right;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;
	}
	li {
		list-style: none;
		display: inline-block;
		padding-right: 7px;
		@mixin atMedium {
			padding-right: 1.5rem;
			float: left;
			display: block;
		}
	}

	li:last-child {
		padding-right: 0;

		@mixin atMedium {
			padding-right: 1.5rem;
		}
	}

	a {
		color: #FFF;
		font-weight: 300;
		text-decoration: none;
		display: block;
		padding: 5px 8px;
		font-size: .8rem;
		background-color: rgba($mainBlue, .6);

		@mixin atMedium {
			padding: .75rem 0;
			font-size: 1rem;
			background-color: transparent;

			&.active-link {
				color: $mainOrange;
			}
		}
	}
}